section.footer
	.footer-content
		.footer__top
			ul Academic and Reference  1
				li
					a(href="#") Academic and Reference
				li
					a(href="#") Academic and Reference 
				li
					a(href="#") Academic and Reference 
				li
					a(href="#") Academic and Reference 
				li
					a(href="#") Academic and Reference 
				li
					a(href="#") Academic and Reference 
				li
					a(href="#") Academic and Reference 
				li
					a(href="#") Academic and Reference 
				li
					a(href="#") Academic and Reference 
				li
					a(href="#") Academic and Reference 
				li
					a(href="#") Academic and Reference 
			ul Academic and Reference  2
				li
					a(href="#") Academic and Reference 
				li
					a(href="#") Academic and Reference 
				li
					a(href="#") Academic and Reference 
				li
					a(href="#") Academic and Reference 
				li
					a(href="#") Academic and Reference 
				li
					a(href="#") Academic and Reference 
				li
					a(href="#") Academic and Reference 
				li
					a(href="#") Academic and Reference 
				li
					a(href="#") Academic and Reference 
				li
					a(href="#") Academic and Reference 
				li
					a(href="#") Academic and Reference 
			ul Academic and Reference  3
				li
					a(href="#") Academic and Reference 
				li
					a(href="#") Academic and Reference 
				li
					a(href="#") Academic and Reference 
				li
					a(href="#") Academic and Reference 
				li
					a(href="#") Academic and Reference 
				li
					a(href="#") Academic and Reference 
				li
					a(href="#") Academic and Reference 
				li
					a(href="#") Academic and Reference 
				li
					a(href="#") Academic and Reference 
				li
					a(href="#") Academic and Reference 
				li
					a(href="#") Academic and Reference 
			ul Academic and Reference  4
				li
					a(href="#") Academic and Reference 
				li
					a(href="#") Academic and Reference 
				li
					a(href="#") Academic and Reference 
				li
					a(href="#") Academic and Reference 
				li
					a(href="#") Academic and Reference 
				li
					a(href="#") Academic and Reference 
				li
					a(href="#") Academic and Reference 
				li
					a(href="#") Academic and Reference 
				li
					a(href="#") Academic and Reference 
				li
					a(href="#") Academic and Reference 
				li
					a(href="#") Academic and Reference 
		.footer__middle
			h4 We accept all major Credit Card/Debit Card/Internet Banking 
			.footer__middle--card
				.master-card
				.amerricen-cart
				.visa-card
		.footer__bottom
			h6  We accept all major Credit Card/Debit Card/Internet Banking 