section.menu
	.header__main-nav
		ul.header__main-nav-list.clearfix
			li
				a(href="#") Computers
			li
				a(href="#") Cooking
			li
				a(href="#") Education
			li
				a(href="#") Fiction
			li
				a(href="#") Health
			li
				a(href="#") Mathematics
			li
				a(href="#") Medical
			li
				a(href="#") Reference
			li
				a(href="#") Science