section.slader.clearfix
	.slader__block
		.slader__block-arrow-1
		.slader__block-arrow-2
	.slader__deal
		h2 Deal of the month
		h4 The Human Face of Big Data
		.slader__deal-movie
		.slader__deal-podium
		span.save Save 45% Today
		span.price $27.50
		button(type="submit").buy Buy now