section.footer
	width 100%
	max-width 1280px
	margin 0 auto
	background url(../img/general/bg-common.jpg) 0 0 repeat-x
	height 500px
	color #afadae
	font-family lightFount
	font-size 16px
	
.footer-content
	width 100%
	max-width 1024px
	margin 0 auto
	padding 24px 0px 0px 28px
	
.footer__top
	margin-bottom 53px
	ul
		display inline-block
		margin-right 44px
		color #d3d3d3
		font-family lightFount
		font-size 18px
		li
			padding 3px 0 3px
			
			a
				border-bottom 1px solid #57514f
				color #afadae
				font-family lightFount
				font-size 14px
				
		li:first-child
			margin-top 25px
			
.footer__middle
	text-align center
	margin-bottom 31px
	
	& h4
		margin-bottom 13px

.footer__middle--card
	width 100%
	max-width 144px
	margin 0 auto

.master-card
	display inline-block
	background url(../img/content/master-card.jpg) 0 0 no-repeat
	width 43px
	height 25px
	margin-right 4px
.amerricen-cart
	display inline-block
	background url(../img/content/american-card.jpg) 0 0 no-repeat
	width 41px
	height 25px
	margin-right 4px
.visa-card
	display inline-block
	background url(../img/content/visa-card.jpg) 0 0 no-repeat
	width 43px
	height 25px
	
.footer__bottom
	text-align center
	font-size 20px