section.menu
	border-top 1px solid LightTegraiColor
	border-bottom 1px solid LightTegraiColor
	
	.header__main-nav
		width 100%
		max-width 1024px
		margin 0 auto
		padding 0 30px 0 22px
		
		ul.header__main-nav-list
			
			li
				float left

				a
					display block
					padding 14px 22px 12px
					transition:all .2s
					color ColorWetAsphaltColor
					font-family mainFont
					font-size 16px
					
					&:hover
						background: linear-gradient(to bottom, #93d675 0%,#92d574 10%,#8ccf6e 26%,#85c169 59%,#7db963 79%,#7bb261 100%)
						color #fff