section.slader
	width 100%
	max-width 1024px
	margin 0 auto
	padding 14px 16px 13px 12px
	
	.slader__block
		position relative
		float left
		background url(../img/content/slider-banner.jpg) 0 0 no-repeat
		background-size cover
		width 714px
		height 304px
		margin-right 13px

		.slader__block-arrow-1
			background url(../img/content/slader-arrow-1.png) 0 0 no-repeat
			width 38px
			height 38px
			position absolute
			top 43%
			left 93%

		.slader__block-arrow-2
			background url(../img/content/slider-arrow-2.png) 0 0 no-repeat
			width 38px
			height 38px
			position absolute
			top 43%
			right 93%

	.slader__deal
		position relative
		float right
		width 100%
		max-width 269px
		height 304px
		background linear-gradient(to bottom, #545454 0%,#595959 6%,#595959 9%,#5e5e5e 13%,#626262 23%,#646464 23%,#666666 31%,#696969 33%,#686868 34%,#6a6a6a 34%,#696969 37%,#6b6b6b 37%,#696969 38%,#696969 39%,#6c6c6c 42%,#6a6a6a 43%,#6c6c6c 44%,#6c6c6c 50%,#6a6a6a 51%,#6d6d6d 52%,#6a6a6a 53%,#6c6c6c 54%,#696969 60%,#6b6b6b 62%,#686868 63%,#696969 67%,#666666 69%,#656565 75%,#626262 77%,#626262 81%,#555555 95%,#535353 100%)
		padding 12px 20px 7px 20px
		font-family boldFount
		color #fff
		text-align center

		h2
			margin-bottom 10px
			font-size 26px

		h4
			text-align center
			margin-bottom 14px
			font-family lightFount
			font-size 14px

		.slader__deal-movie
			position relative
			background url(../img/content/deal_of_month.jpg) 0 0 no-repeat
			width 84px
			height 111px
			margin 0 auto  26px
			z-index 100

		.slader__deal-podium
			position absolute
			top 59%
			left 18%
			background url(../img/content/podium.png) 0 0 no-repeat
			width 176px
			height 24px
			margin 0 auto
			z-index 1

		span.save
			display block
			margin-bottom 9px
			font-family lightFount
			font-size 20px

		span.price
			display block
			margin-bottom 6px
			font-size 22px

		button
			padding 6px 14px 6px 17px
			border-radius 4px
			background linear-gradient(to top, #51a451, #61c261)
			color #fff
			border 1px solid #52a452
			font-family boldFount
			cursor pointer
