/* Шрифты */

mainFont = 'SegoeUIRegular'
boldFount = 'SegoeUIBold'
lightFount = 'SegoeUILight'

/* Цвета */

mainTextColor = #6d6d6d
VerylightGrayColor = #f2f2f2
grayLightColor = #696969
grayDarkColor = #464646
gainsborough = #dddddd
GrayNeutralColor = #afaeb0
GreenishWetAsphalt = #535755
ColorWetAsphaltColor = #5b5b5b
VeryPaleBlueColor = #d8dce0
LightTegraiColor = #d2d1d1
DimGrayColor = #646464
DimGrayColor2 = #e6e7e8
VerydarkGray = #424242
grayHeavyDarkColor = #3b3b3b
LightTegraiColor = #c8c8c8
greenColor = #79b260
redColor = #f05356